body {
  margin: 0px;
  padding: 0px;
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
  box-sizing: border-box;
}

header {
  width: 100%;
  color: #fff;
  padding: 10px;
  display: block;
  background-color: #C43024;
}

.notice {
  background-color: #98ecaa7a;
  border: 2px solid #5cd075;
  padding: 15px;
  width: 400px;
  text-align: center;
  margin-left: 15px;
}

.alert {
  background-color: #ec98ac8f;
  border: 2px solid #ec7592;
  padding: 15px;
  width: 400px;
  text-align: center;
  margin-left: 15px;
}

footer {
  width: 100%;
  color: #fff;
  margin: 0;
  padding: 10px;
  display: block;
  background-color: #C43024;
  position: absolute;
  bottom: 0;
}

h2 {
  margin-left: 15px;
}

table {
  border-collapse: collapse;
  margin: 30px 15px 5px 15px;
  display: block;
  position: relative;
}

table th {
  background-color: #FFDFE0;
  border: 1px solid #222;
  padding: 10px 20px;
}

table td {
  background-color: #FAEBEA;
  border: 1px solid #222;
  padding: 10px 20px;
  text-align: center;
}

input {
  width: 100%;
  font-size: 16px;
  padding: 5px;
}

input[type=submit] {
  width: auto;
}

#post_memo {
  width: 350px;
  height: 200px;
  font-size: 16px;
}

ul {
  list-style: none;
}